<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>US</title>

        <!-- CSS FILES -->  
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">                      
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/tooplate-crispy-kitchen.css" rel="stylesheet">
        <style>
            .selectBox {
            position: relative;
            width: 150px;
            height: 35px;
            border-radius: 4px;
            border: 2px solid lightcoral;
            }
            .selectBox .select {
            width: inherit;
            height: inherit;
            background: transparent;
            border: 0 none;
            outline: 0 none;
            padding: 0 5px;
            position: relative;
            z-index: 3;
            }
            .selectBox .select option {
            background: lightcoral;
            color: #fff;
            padding: 3px 0;
            font-size: 16px;
            }
            .selectBox .icoArrow {
            position: absolute; 
            top: 0; 
            right: 0; 
            z-index: 1; 
            width: 35px; 
            height: inherit;
            border-left: 2px solid lightcoral;
            display: flex;
            justify-content: center;
            align-items: center;
            }

            .selectBox .icoArrow img {
            width: 50%;
            transition: .3s; 
            }

            .selectBox .select:focus + .icoArrow img {
            transform: rotate(180deg);
            }

        </style>
        <!--

Tooplate 2129 Crispy Kitchen

https://www.tooplate.com/view/2129-crispy-kitchen

-->
    </head>
    
    <body>
        
        <nav class="navbar navbar-expand-lg bg-white shadow-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <a class="navbar-brand" href="index.html">
                    Crispy Kitchen
                </a>

                <div class="d-lg-none">
                    <button type="button" class="custom-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#BookingModal">Reservation</button>
                </div>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Story</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="menu.html">Menu</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="news.html">Our Updates</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="d-none d-lg-block">
                    <button type="button" class="custom-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#BookingModal">Reservation</button>
                </div>

            </div>
        </nav>

        <main>

            <section class="">
                <div class="container">
                    <div class="row" >

                        <div class="col-12" >
                            <br>
                            <br>
                            <h2>아보카도 일러스트</h2>
                            <br>
                        </div>
                        <div>
                            <div class="menu-thumb" style="margin: auto;">
                                <div class="menu-image-wrap">
                                    <img src="images/design/testing1.jpg" class="img-fluid menu-image" style="width: 50%; height: 50%; position: relative; left: 30%; " alt="">

                                    
                                </div>

                                <div class="menu-info d-flex flex-wrap align-items-center" style="position: relative; left: 29%;" >
                                    <h4 class="mb-0">아보카도 일러스트</h4>

                                    <span class="price-tag bg-white shadow-lg ms-4" style="width: 100px;">20,000<small> &#8361;</small></span>

                                    <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                        <h6 class="reviews-text mb-0 me-3">4.3/5</h6>

                                        <div class="reviews-stars">
                                            <i class="bi-star-fill reviews-icon"></i>
                                            <i class="bi-star-fill reviews-icon"></i>
                                            <i class="bi-star-fill reviews-icon"></i>
                                            <i class="bi-star-fill reviews-icon"></i>
                                            <i class="bi-star reviews-icon"></i>
                                        </div>

                                        <p class="reviews-text mb-0 ms-4">102 Reviews</p>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </section>

            <section class="">
                <div class="container">
                    <div class="row">

                        <div class=" col-12">
                            <!-- <img src="images/news/news-detail-header.jpg" class="img-fluid news-detail-image" alt="fine dining experience"> -->

                                <br>
                               
                                
                                <h4 class="mb-3">디자인 설명</h4>

                                <p>많은 사랑 부탁드립니다.</p>
                                <br>
                                <br>
                                
                                    <h4>상품 선택</h4>
                                    <br>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="menu-thumb">
                                                    <img src="images/tumbler.PNG" class="img-fluid menu-image" alt="">
                    
                                                    <div class="menu-info d-flex flex-wrap align-items-center">
                                                        <h4 class="mb-0">텀블러</h4>
                                                        <span class="price-tag bg-white shadow-lg ms-4" style="width: 100px;">+ 3,000<small> &#8361;</small></span>
                                                        
                    
                                                   
                    
                                                        <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                                            <h6 class="reviews-text mb-0 me-3">4.4/5</h6>
                    
                                                            <div class="reviews-stars">
                                                                <i class="bi-star-fill reviews-icon"></i>
                                                                <i class="bi-star-fill reviews-icon"></i>
                                                                <i class="bi-star-fill reviews-icon"></i>
                                                                <i class="bi-star-fill reviews-icon"></i>
                                                                <i class="bi-star reviews-icon"></i>
                                                            </div>
                    
                                                            <p class="reviews-text mb-0 ms-4">102 Reviews</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                    
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="menu-thumb">
                                                    <img src="images/tshirts.PNG" class="img-fluid menu-image" alt="">
                    
                                                    <div class="menu-info d-flex flex-wrap align-items-center">
                                                        <h4 class="mb-0">티셔츠</h4>
                                                        <span class="price-tag bg-white shadow-lg ms-4" style="width: 100px;">+ 2,000<small> &#8361;</small></span>
                                                      
                    
                                                        <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                                            <h6 class="reviews-text mb-0 me-3">3/5</h6>
                    
                                                            <div class="reviews-stars">
                                                                <i class="bi-star-fill reviews-icon"></i>
                                                                <i class="bi-star-fill reviews-icon"></i>
                                                                <i class="bi-star-fill reviews-icon"></i>
                                                                <i class="bi-star reviews-icon"></i>
                                                                <i class="bi-star reviews-icon"></i>
                                                            </div>
                    
                                                            <p class="reviews-text mb-0 ms-4">56 Reviews</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                    
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="menu-thumb">
                                                    <img src="images/keyring.PNG" class="img-fluid menu-image" alt="">
                    
                                                    <div class="menu-info d-flex flex-wrap align-items-center">
                                                        <h4 class="mb-0">키링</h4>
                                                        <span class="price-tag bg-white shadow-lg ms-4" style="width: 100px;">+ 1,500<small> &#8361;</small></span>
                                                      
                    
                                                     
                    
                                                        <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                                            <h6 class="reviews-text mb-0 me-3">3/5</h6>
                    
                                                            <div class="reviews-stars">
                                                                <i class="bi-star-fill reviews-icon"></i>
                                                                <i class="bi-star-fill reviews-icon"></i>
                                                                <i class="bi-star-fill reviews-icon"></i>
                                                                <i class="bi-star reviews-icon"></i>
                                                                <i class="bi-star reviews-icon"></i>
                                                            </div>
                    
                                                            <p class="reviews-text mb-0 ms-4">76 Reviews</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                    
                                        </div>
                                    </div>
                                


                                
                            
                            
                            <div>
                                <h4 class="mb-3">상품 결제</h4>
                                <form action="/mypage" method="post">
                                    <h5>디자인 : 아보카도 일러스트 </h5>
                                    <br>
                                    <select id="selectbox" class="selectBox" name="month" onchange="chageLangSelect(20000)" style="width: 290px;">
                                    <option selected>상품 선택</option>
                                    <option value="tumbler">텀블러 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +3,000₩</option>
                                    <option value="tshirts">티셔츠 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +2,000₩</option>
                                    <option value="keyring">키 링 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +1,500₩</option> 
                                  </select>
                                </form>
                                <br>
                                <div>
                                    <h5  style="float: left;">결제 금액 : &nbsp;&nbsp; </h5>
                                    <h5 style="float: left; width: 15%;"><strong id ="totalPrice"> 0</strong> <strong>₩</strong></h5>
                                    <button type="button" class="custom-btn btn btn-danger" style="float: left; position: relative; top: -5px;">결제</button>
                                </div>

                                <script>
                                    function chageLangSelect(designPrice){
                                        var langSelect = document.getElementById("selectbox");
                                        // select element에서 선택된 option의 value가 저장된다.
                                        var selectValue = langSelect.options[langSelect.selectedIndex].value;
                                     
                                        // select element에서 선택된 option의 text가 저장된다.
                                        var selectText = langSelect.options[langSelect.selectedIndex].text;
                                        
                                        var goodsPrice;

                                         if(selectValue=='tumbler'){
                                            goodsPrice = 3000;
                                            
                                         }else if (selectValue =='tshirts'){
                                            goodsPrice = 2000;
                                            
                                         }else if (selectValue =='keyring'){
                                            goodsPrice = 1500;
                                            
                                         }
                                         document.getElementById('totalPrice').innerHTML = goodsPrice + designPrice
                                        
                                    }
                                    </script>
                                    
                                
                                <br>
                                <br>
                                <br>
                            </div>

                        </div>

                    </div>
                </div>
                

            </section>


        </main>

        <footer class="site-footer section-padding">
            
            <div class="container">
                
                <div class="row">

                    <div class="col-12">
                        <h4 class="text-white mb-4 me-5">Crispy Kitchen</h4>
                    </div>

                    <div class="col-lg-4 col-md-7 col-xs-12 tooplate-mt30">
                        <h6 class="text-white mb-lg-4 mb-3">Location</h6>

                        <p>121 Einstein Loop N, Bronx, NY 10475, United States</p>

                        <a href="https://goo.gl/maps/wZVGLA7q64uC1s886" class="custom-btn btn btn-dark mt-2">Directions</a>
                    </div>

                    <div class="col-lg-4 col-md-5 col-xs-12 tooplate-mt30">
                        <h6 class="text-white mb-lg-4 mb-3">Opening Hours</h6>

                        <p class="mb-2">Monday - Friday</p>

                        <p>10:00 AM - 08:00 PM</p>

                        <p>Tel: <a href="tel: 010-02-0340" class="tel-link">010-02-0340</a></p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12 tooplate-mt30">
                        <h6 class="text-white mb-lg-4 mb-3">Social</h6>

                        <ul class="social-icon">
                            <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                            <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                        </ul>
                    
                        <p class="copyright-text tooplate-mt60">Copyright © 2022 Crispy Kitchen Co., Ltd.
                        <br>Design: <a rel="nofollow" href="https://www.tooplate.com/" target="_blank">Tooplate</a></p>
                        
                    </div>

                </div><!-- row ending -->
                
             </div><!-- container ending -->
             
        </footer>

        <!-- Modal -->
        <div class="modal fade" id="BookingModal" tabindex="-1" aria-labelledby="BookingModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="mb-0">Reserve a table</h3>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body d-flex flex-column justify-content-center">
                        <div class="booking">
                            
                            <form class="booking-form row" role="form" action="#" method="post">
                                <div class="col-lg-6 col-12" style="width: 100%;">
                                    <label for="name" class="form-label">ID</label>

                                    <input type="text" name="name" id="name" class="form-control" placeholder="ID를 작성해주세요" required>
                                </div>

                                &nbsp;

                                &nbsp;
                                

                                <div class="col-lg-6 col-12" style="width: 100%;">
                                    <label for="password" class="form-label">Password</label>

                                    <input type="password" name="password" id="password"  class="form-control" placeholder="PW를 작성해 주세요"  required>
                                </div>

                                &nbsp;

                                &nbsp;
                                

                                <div class="col-lg-6 col-12" style="width: 100%;">
                                    <button type="submit" class="form-control" style="background-color: rgb(237, 203, 84);">Login</button>
                                </div>
                                
                                
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer"></div>
                    
                </div>
                
            </div>
        </div>

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/custom.js"></script>

    </body>
</html>
